<!DOCTYPE html>
{% load static %}
{% load tags_html %}
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery.3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" />
    <link href="{% static 'css/bootstrap.min_4.1.1.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'js/bootstrap.4.1.1.min.js' %}"></script>

</head>
<body>
<div class="container login-container">
      <div class="row">
        <div class="col-md-6 ads">
          <h1><span id="fl">Condor web chat</span></h1>
        </div>
        <div class="col-md-6 login-form">
          <div class="profile-img">
            <img src="{% static  'images/condor_logo.jpg' %}" alt="profile_img" height="140px" width="140px;">
          </div>
          <h3>Login</h3>
          <form id="loginform" role="form" action="{% url 'login' %}?next={{ request.GET.next }}" method="POST">{% csrf_token %}
						<input name="next" id="id_next"  type="hidden" value="{{ next_parameter }}">
						{% if form.non_field_errors %}
		                    <div id="login-alert" class="alert alert-danger">
		                        {{ form.non_field_errors }}
		                    </div>
		                {% endif %}
						<div class="form-group">
							{{ form.username|addclass:'form-control'|placeholder:"UserName" }}
							{% if form.username.errors %}
			                    <span class="text-danger">
			                    {{ form.username.errors }}
			                    </span>
			                {% endif %}
						</div>
						<div class="form-group">
							{{ form.password|addclass:'form-control'|placeholder:"Password" }}
							{% if form.password.errors %}
			                    <span class="text-danger">
			                    {{ form.password.errors }}
			                    </span>
			                {% endif %}
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Validate user</button>
						</div>
					</form>
        </div>
      </div>
    </div>
</body>
</html>